<div class="p-3">
  <h2 class="text-center fw-bold text-dark my-3">DANH SÁCH HỢP ĐỒNG</h2>

  <nav class="navbar navbar-expand-lg py-0 my-2">
    <div routerLink="/contracts/create" class="container-fluid">
      <button class="btn btn-primary btn-outline-secondary btn-sm">
        <span class="fa-solid fa-plus text-light h6 my-auto me-1"></span>
        <span class="text-light"> Thêm mới hợp đồng</span>
      </button>
    </div>
  </nav>
  <table class="table table-light table-striped table-bordered">
    <thead>
    <tr class="table-dark text-light">
      <th class="text-center"><i class="fa-sharp fa-solid fa-bolt"></i></th>

      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Tiền đặt cọc</th>
      <th>Tên khách hàng</th>
      <th>Tên Dịch vụ</th>

      <th>Tổng tiền</th>
      <th class="text-center">Các dịch vụ đi kèm</th>
    </tr>
    </thead>
    <tr *ngFor="let item of contracts; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.startDate}}</td>
      <td>{{item.endDate}}</td>
      <td>{{item.deposit}}</td>
      <td>{{item.customerName}}</td>
      <td>{{item.facilityName}}</td>
      <td></td>

      <td class="text-center">
        <button
          class="btn btn-primary btn-outline-secondary btn-sm">
          <span class="fa-solid fa-plus text-light h6 m-auto"></span>
        </button>
        <button class="btn btn-primary btn-outline-secondary btn-sm ms-3 px-3">
          <span class="text-light m-auto">Danh sách dịch vụ đi kèm</span>
        </button>
      </td>
    </tr>
  </table>

</div>
