<h1> Calculator app</h1>
<table>
  <tr>
    <td>Number 1</td>
    <td colspan="3">
      <input type="number" [(ngModel)]="numberFrist">
    </td>
  </tr>
  <tr>
    <td>Number 2</td>
    <td colspan="3">
      <input type="number" [(ngModel)]="num2">
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="getAddition()">Addition(+)</button>
    </td>
    <td>
      <button (click)="getSubtraction()">Subtraction(-)</button>
    </td>
    <td>
      <button (click)="getMultiplication()">Multiplication(*)</button>
    </td>
    <td>
      <button (click)="getDivision()">Division(/)</button>
    </td>
  </tr>
  <tr>
    <td colspan="4"><h3 style="color: red"> Result: <span style="color: blue">{{result}}</span></h3></td>
  </tr>


</table>
